.mat-list {
    min-height: 500px;
    height: 100%;
    width: 100%;
    float: left;
}

.container {
    width: 420px;
}

.refresh_button {
    display: block;
    margin: 10px auto;
}

.mat-list-item {
    margin-bottom: 100px;
}

.mat-card {
    width: 400px;
    height: 50px;
    padding: 15px 15px 22px 15px;
    font-size: 1.5em;
}

.trade-title {
    width: 300px;
    display: inline-block;
}

.spinner {
    height: 150px;
    width: 420px;
}

.mat-spinner {
    margin: 0 auto;
    margin-top: 40px;
}