.mat-list {
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.mat-list-item {
    margin-bottom: 30px;
}

.mat-card {
    width: 400px;
    height: 30px;
    padding: 15px 15px 22px 15px;
    font-size: 1.5em;
}

.trade-title {
    width: 300px;
    display: inline-block;
}

.context-menu-button {
    float: right;
    margin-top: -30px;
    margin-right: -20px;
}

.add-button {
    display: block;
    margin: 10px auto;
    margin-top: 15px;
}   

.trades_with_button {
    width: 420px;
}

.mat-spinner {
    position: relative;
    top: 200px;
    left: 200px;
}

.spinner {
    height: 300px;
}
