<form #contactForm="ngForm" (submit)="addContact(contactForm)">
  <mat-form-field>
    <mat-select placeholder="Contact type" [(ngModel)]="contact.method" name="type">
      <mat-option *ngFor="let type of contactTypes" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contact data" [(ngModel)]="contact.data" required name="data">
  </mat-form-field>
  <div *ngIf="submitButtonPressed">
    <mat-spinner [diameter]=30></mat-spinner>
  </div>
  <div *ngIf="!submitButtonPressed">
    <button mat-raised-button type="submit">Add</button>
  </div>
</form>
