<h1 class="title">Beatko in</h1>
<div class="container">
    <div><p class="description">
        "Beatko in" is a digital currency exchange system
        which helps users realize crypto-natinal and crypto-crypto currency exchange
        through creating and accepting offers</p></div>
    <div class="flip">
        <div class="forms" [@formState]="formState">
            <div class="card" [ngClass]="{'flipped': flipped}"> 
                <div class="face front"> 
                    <div class="login_form inner">
                        <form (ngSubmit)="Login(loginForm)" #loginForm="ngForm">
                            <div class="form_line">
                                <mat-form-field>
                                    <input matInput required placeholder="Username" [(ngModel)]="user.Username" name="username">
                                </mat-form-field>
                            </div>
                            <div class="form_line">
                                <mat-form-field>
                                    <input matInput placeholder="Password" required type="password" [(ngModel)]="user.Password" name="password">
                                </mat-form-field>
                            </div>  
                            <button mat-raised-button>Sign in</button>
                        </form>
                        <button mat-button class="sign_up_button" (click)="toggleState()">Sign up</button>
                    </div>
                </div> 
                <div class="face back"> 
                    <div class="login_form inner">
                    <mat-progress-bar mode="indeterminate" [color]="has_error ? 'accent' : 'primary'"></mat-progress-bar>
                        <div class="login_text">
                            <h3 [ngClass]="{'has_error': has_error}">{{loginMessage}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="register_1">
                <div class="login_form">
                    <form [formGroup]="regForm" (submit)="proceedSignUp()">
                        <div class="form_line">
                            <mat-form-field>
                                <input [errorStateMatcher]="matcher" matInput required placeholder="Username" formControlName="username" name="username">
                                <mat-error>{{isNameAlreadyExist ? 'Name is already taken' : 'Name is required'}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form_line">
                            <mat-form-field>
                                <input matInput required placeholder="Email" type="email" formControlName="email" name="email">
                                <mat-error *ngIf="regForm.controls.email.invalid">Email is invalid</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form_line">
                            <mat-form-field>
                                <input matInput placeholder="Password" required type="password" [formControl]="regForm.controls.password" name="password">
                            </mat-form-field>
                        </div>
                        <div class="form_line">
                            <mat-form-field>
                                <input [errorStateMatcher]="matcher" matInput placeholder="Repeat password" type="password" [formControl]="regForm.controls.repeatedPassword" name="repeated_password">
                                <mat-error *ngIf="regForm.invalid">Passwords are not equal</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="reg_1_buttons">
                            <button mat-button type="button" class="back_button" (click)="backState()">Back</button>
                            <button mat-raised-button class="next_button">Next</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="register_2">
                <div class="login_form">
                    <form>
                        <div class="form_line">
                            <mat-form-field>
                                <input matInput placeholder="Confirmation code" required [(ngModel)]="registrationInfo.ConfirmationCode" name="confirmation">
                                <mat-error *ngIf="serverErrors['code']">{{serverErrors['code']}}</mat-error>
                            </mat-form-field>
                        </div>
                        <button mat-button type="button" (click)="sendCode()">Send code</button>
                        <div *ngIf="registrationButtonPressed">
                            <mat-spinner [diameter]=30></mat-spinner>
                        </div>
                        <div *ngIf="!registrationButtonPressed">
                            <button mat-button (click)="signUp()">Sign up</button>
                        </div>
                    </form>
                    <button mat-button class="sign_up_button" (click)="backState()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>	 