<form #passwordForm="ngForm" (submit)="changePassword(passwordForm)">
  <mat-form-field>
    <input matInput placeholder="Current password" required type="password" name="old-password" [(ngModel)]="password.old">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="New Password" required type="password" name="new-password" [(ngModel)]="password.new">
  </mat-form-field>
  <mat-form-field>
    <input [errorStateMatcher]="matcher" matInput placeholder="Repeat new password" required type="password" name="repeated-new-password"  [(ngModel)]="password.repeatedNew">
    <mat-error *ngIf="passwordsNotEqual">Passwords are not equal</mat-error>
  </mat-form-field>
  <button mat-raised-button>Change password</button>
</form>