<form #tradeForm (submit)="createTrade(tradeForm)">
  <mat-radio-group [(ngModel)]="trade.type" name="type">
    <mat-radio-button value=1>buy</mat-radio-button>
    <mat-radio-button value=2>sell</mat-radio-button>
  </mat-radio-group>
  <mat-form-field [hideRequiredMarker]="true">
    <mat-select placeholder="first currency" [(ngModel)]="trade.firstCurrency" name="firstCurrency">
      <mat-option *ngFor="let currency of crypto_currencies" [value]="currency.value">
        {{ currency.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="first currency value" required type="number" [formControl]="first_currency_amount"  [(ngModel)]="trade.firstCurrencyAmount" name="first_currency_amount">
  </mat-form-field>
  <div [hidden]="trade.type == 2">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="minimal offer" required type="number" [(ngModel)]="trade.firstMinimalOffer" name="f_minimal_offer">
    </mat-form-field>
  </div>
  <mat-form-field [hideRequiredMarker]="true">
    <mat-select (selectionChange)="secondCurrencyChanged()" placeholder="second currency" [(ngModel)]="trade.secondCurrency" name="second_currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{ currency.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true">
    <input matInput placeholder="second currency value" required type="number" [formControl]="second_currency_amount" [(ngModel)]="trade.secondCurrencyAmount" name="second_currency_amount">
  </mat-form-field>
  <div [hidden]="trade.type == 1">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="minimal offer" required type="number" [(ngModel)]="trade.secondMinimalOffer" name="s_minimal_offer">
    </mat-form-field>
  </div>
  <div [hidden]="isPaymentMethodFieldHidden">
    <mat-form-field [hideRequiredMarker]="true">
      <mat-select placeholder="Payment methods" [(ngModel)]="trade.paymentMethods" name="payment_methods" multiple>
        <mat-option *ngFor="let method of paymentMethods" [value]="method.value">{{method.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="submitButtonPressed">
    <mat-spinner [diameter]=30></mat-spinner>
  </div>
  <div *ngIf="!submitButtonPressed">
    <button mat-raised-button type="submit">Create</button>
  </div>
</form>