<form #emailForm="ngForm" (submit)="changeEmail(emailForm)">
  <mat-form-field>
    <input matInput placeholder="New email" required type="email" name="email" [(ngModel)]="email.email">
  </mat-form-field>
  <button mat-raised-button type="button" (click)="sendCode(email)" [disabled]="codeButtonLabel !== 'Send code'">{{codeButtonLabel}}</button>
  <mat-form-field>
    <input matInput placeholder="Confirmation code" required name="code" [(ngModel)]="email.code">
    <mat-error *ngIf="serverErrors['code']">{{serverErrors['code']}}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">Change email</button>
</form>