<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar [src]="userImageUrl">
      <mat-card-title>{{profile.username}}</mat-card-title>
      <mat-card-subtitle>rating: {{profile.rating}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <ul>
        <li>
          <a mat-icon-button routerLink="/login" class="user-option">
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </li>
        <li>
          <a mat-icon-button routerLink="settings" class="user-option">
            <mat-icon>settings</mat-icon>
          </a>
        </li>
      </ul>
    </mat-card-actions>
  </mat-card>