.example-card {
    width: 150px;
    margin-left: -35px;
    margin-top: -10px;
    margin-bottom: 10px;
    height: 80px;
}

.mat-card-actions {
    padding: 0px;
}

.mat-button {
    width: 30px;
    margin: 0 0 !important;
}