.mat-list {
    max-height: 800px;
    width: 400px;
    margin-top: 10px;
}

.mat-spinner {
    display: block;
    margin: 0 auto;
}

.mat-card-header {
    text-align: center;
}

.mat-list-item {
    margin-bottom: 65px;
}

.mat-card {
    width: 500px;
    height: 70px;
    padding: 15px 15px 22px 15px;
    font-size: 1.5em;
}

p {
    margin-bottom: 0px;
}

.mat-card-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.mat-icon-button {
    color: green;
}

.trade-title {
    width: 300px;
    display: inline-block;
}