.mat-list {
    max-height: 600px;
    width: 400px;
}

.mat-list-item {
    margin-bottom: 30px;
}

.mat-card {
    width: 400px;
    height: 30px;
    padding: 15px 15px 22px 15px;
    font-size: 1.5em;
}

.trade-title {
    width: 300px;
    display: inline-block;
}