<div class="container">
  <mat-form-field>
      <input matInput placeholder="Balance" [(ngModel)]="currencyBalance" [readonly]="true">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="currencyChanged()">
      <mat-option value=4>BTC</mat-option>
      <mat-option value=5>LTC</mat-option>
      <mat-option value=6>ETH</mat-option>
    </mat-select>
  </mat-form-field>
  <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
      </ngx-charts-line-chart>
</div>

