<form #paymentForm="ngForm" (submit)="addPayment(paymentForm)">
  <mat-form-field>
    <mat-select placeholder="Payment method" [(ngModel)]="payment.method" name="method">
      <mat-option *ngFor="let type of paymentRequisiteTypes" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Payment requisite data" [(ngModel)]="payment.data" required name="data">
  </mat-form-field>
  <div *ngIf="submitButtonPressed">
    <mat-spinner [diameter]=30></mat-spinner>
  </div>
  <div *ngIf="!submitButtonPressed">
    <button mat-raised-button type="submit">Add</button>
  </div>
</form>
