.user-info {
    text-align: center;
    padding-top: 30px;
}

.mat-list {
    width: 35%;
    margin: 0 auto;
}

.mat-slider{ 
    width: 35%;
}

.mat-list-item {
    width: 350px;
    text-align: left;
}